@model ManufacturerModel
<html>
<body>
    <link rel="stylesheet" href="~/css/table.css">
    <div>
        <h2>@ViewBag.Title</h2>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Image</th>
                <th>Created datetime</th>
                <th>Created by</th>
                <th>Last Changed by</th>
                <th>Last Changed dateTime</th>
                <th>Update</th>
            </tr>

            @foreach (var product in @Model.Products)
            {
                <form action="update/@product.Id" method="POST" enctype="multipart/form-data">
                    <tr>
                        <td>
                            <input type="text" data-val="true"
                                   id="Id" name="Id" value="@product.Id" readonly />
                        </td>
                        <td>
                            <input type="text" data-val="true" maxlength="100"
                                   id="Name" name="Name" value="@product.Name" required />
                        </td>
                        <td>
                            <input type="file" data-val="true"
                                   id="Image" name="Image" accept="image/png" value="@product.Image" />
                        </td>
                        <td>@product.CreatedDateTime</td>
                        <td>@product.CreatedBy</td>
                        <td>@product.LastChangedBy</td>
                        <td>@product.LastChangedDateTime</td>
                        <td>
                            <input type="submit" class="btn btn-primary btn-lg" value="Update" />
                        </td>
                    </tr>
                </form>
            }
        </table>
    </div>
</body>
</html>