@model IReadOnlyList<ManufacturerModel>

<link rel="stylesheet" href="~/css/table.css">

<html>
<body>
    <div>
        <h2>@ViewBag.Title</h2>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Logo</th>
                <th>Created datetime</th>
                <th>Created by</th>
                <th>Last Changed by</th>
                <th>Last Changed datetime</th>
                <th>Delete</th>
            </tr>

            @foreach (var item in @Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        @{
                            var imgSrc = string.Empty;
                            if (item.Logo != null)
                            {
                                var base64 = Convert.ToBase64String(item.Logo);
                                imgSrc = String.Format("data:image/png;base64,{0}", base64);
                            }
                        }
                        <img src="@imgSrc" /> 
                    </td>
                    <td>@item.CreatedDateTime</td>
                    <td>@item.CreatedBy</td>
                    <td>@item.LastChangedBy</td>
                    <td>@item.LastChangedDateTime</td>
                    <td>
                        <form action="delete/@item.Id" method="POST">
                            <input type="submit" class="btn btn-primary btn-lg" value="Delete" />
                        </form>
                    </td>
                </tr>
            }

        </table>

    </div>

</body>
</html>

